<!-- A partial to be overwritten by the user.
  Simply place a custom_head.html into
  your local /layouts/partials-directory -->
<style>
    :root {
        --background-color: #f9f5d7;
        --text-color: #282828;
        --link-color: #79740e;
        --visited-color: #8f3f71;
        --code-background-color: #1d2021;
        --code-color: #fbf1c7;
        --blockquote-color: #504945;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background-color: #1d2021;
            --heading-color: #fbf1c7;
            --text-color: #ebdbb2;
            --link-color: #b8bb26;
            --visited-color: #8f3f71;
            --code-background-color: #32302f;
            --code-color: #fbf1c7;
            --blockquote-color: #bdae93;
        }
    }

    ::selection {
        background-color: #076678;
    }

    code {
        padding: 1px;
        margin: 0px;
    }

    blockquote {
        border-left: 1px solid var(--blockquote-color);
        color: var(--blockquote-color);
    }
</style>
